<h1></h1>

<div class="card-container">
  <div class="card">
    <img src="./../../assets/img4.jpg" alt="Image 1" />
    <h2>Food</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero repudiandae ratione nobis asperiores consequuntur assumenda iusto sequi corrupti. Soluta quibusdam quia illum exercitationem est, ab vitae? Consequuntur aspernatur facilis aut!</p>
    <img src="./../../assets/img5.jpg" alt="Profile Image" class="profile">
  </div>

  <div class="card">
    <img src="./../../assets/img3.avif" alt="Image 2" />
    <h2>Education</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos possimus magni quibusdam reiciendis eligendi, quis, architecto dolor reprehenderit, sunt vel provident quod cupiditate velit nihil laborum. Tempore enim qui quaerat?</p>
    <img src="./../../assets/img6.webp" alt="Profile Image" class="profile">
  </div>

  <div class="card">
    <img src="./../../assets/img2.avif" alt="Image 3" />
    <h2>Technologie</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, ratione aliquam voluptas magnam repudiandae, itaque ullam commodi, similique praesentium magni in quo ipsam explicabo numquam provident vero possimus. Praesentium, velit.</p>
    <img src="./../../assets/img7.jpg" alt="Profile Image" class="profile">
  </div>

  <div class="card">
    <img src="./../../assets/img1.avif" alt="Image 4" />
    <h2>Nature</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis fugiat, quis dignissimos nesciunt debitis, beatae rerum nisi molestiae similique, voluptatum esse sint ipsum! Repellendus iusto minima, minus unde earum ad.</p>
    <img src="./../../assets/img8.webp" alt="Profile Image" class="profile">
  </div>
</div>
